services:
  app:
    image: node:lts
    working_dir: /srv
    volumes:
      - .:/srv
    depends_on:
      - mongodb
    command: ["node", "index.js"]  # run npm install manually first

  mongodb:
    # requires earlier version to run on PI4
    image: mongo:4.4.18
    volumes:
      - mongodb_data:/data/db
    ports:
      - "127.0.0.1:27017:27017"

volumes:
  mongodb_data:
