services:
  app:
    build: .
    depends_on:
      - mongodb
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/defi-lp-manager
    env_file:
      - .env

  mongodb:
    # requires earlier version to run on PI4
    image: mongo:4.4.18
    volumes:
      - mongodb_data:/data/db
    ports:
      - "127.0.0.1:27017:27107"

volumes:
  mongodb_data:
