services:
  app:
    build: .
    depends_on:
      - mongodb
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/defi-lp-manager
    env_file:
      - .env

  mongodb:
    # required earlier to run on PI4
    image: mongo:4.4.18
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
